<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default"/>

<f:section name="content">
  <div class="ps_list ce-container ce-content" style="width: 80%; margin-left: 100px;">

    <f:for each="{data.manufacturers}" as="manufacturer">
      <div class="card">
        <f:if condition="{manufacturer.image}">
          <img src="https://produzentenstolz.app/{data.assetpath.image}/{manufacturer.image}"
               class="img-fluid shadow border-radius-lg" style="width: 400px;"/>
        </f:if>
        <header>
          <h1 class="header h1" style="margin-top: 30px;">{manufacturer.title}</h1>
        </header>
        <div class="ce-content">
          <p>
            <f:format.html>{manufacturer.description}</f:format.html>
          </p>
          <f:if condition="{manufacturer.website}">
          <a class="button" title="{manufacturer.title}" target="_blank" href="{manufacturer.website}">
            Zur Webseite</a>
          </f:if>
        </div>
      </div>
    </f:for>
    <div class="ps-powered">
      <div>Wir sind </div>
      <div>
        <a href="https://produzentenstolz.com" target="_blank">
          <img src="https://produzentenstolz.app/assets/images/produzentenstolz_logo.svg" alt="Produzentenstolz"/>
        </a>
      </div>
    </div>
  </div>
</f:section>
</html>
